<!--[if IE 8]><div id="home-background"></div><![endif]-->
<div id="slider-wrapper" class="carousel container">
    <div class="slider carousel-inner">
        <div class="active item item-0">
            <h1>{{ 'home_slide_1' | trans | raw }}</h1>
        </div>
        <div class="item item-1">
            <h1>{{ 'home_slide_2' | trans | raw }}</h1>
        </div>
        <div class="item item-2">
            <h1>{{ 'home_slide_3' | trans | raw }}</h1>
            <a href="{{ path('features', {'slug': app.filters[1].slug}) }}" class="call-to-action" onClick="_gaq.push(['_trackEvent', 'Call_to_action', 'User_click', 'home_cta']);">Commencez le tour</a>
            <div class="slider-features liberez">
                <i class="icon-hand-up"></i>
                {{ 'home_slide_3_1' | trans | raw }}
            </div>
            <div class="slider-features impliquez">
                <i class="icon-group"></i>
                {{ 'home_slide_3_2' | trans | raw }}
            </div>
            <div class="slider-features reflechissez">
                <i class="icon-cogs"></i>
                {{ 'home_slide_3_3' | trans | raw }}
            </div>
        </div>
    </div>
    <div class="slider-pager">
        <a href="#slider-wrapper" class="pager-active">0</a>
        <a href="#slider-wrapper">1</a>
        <a href="#slider-wrapper">2</a>
    </div>
</div>