<div id="customer-quotes-wrapper" class="carousel container">
    <a class="customer-quote-prev" href="#customer-quotes-wrapper" data-slide="prev">&lsaquo;</a>
    <a class="customer-quote-next" href="#customer-quotes-wrapper" data-slide="next">&rsaquo;</a>
    <div class="customer-quotes carousel-inner">
        {% set first = true %}
        {% for quote in app.quotes %}
            {% set client = foreign(app.clients, quote.client_id) %}
            <div class="customer-quote item {% if first %}active{% endif %}">
                <p class="customer-quote-text">
                    “ {{quote.text}} ”
                </p>
                <span class="customer-quote-author">
                    <strong>{{quote.author_name}}</strong>
                    {{quote.author_job}} - <a href="{{client.url}}" target="_blank">{{client.name}}</a>
                </span>
            </div>
            {% if first %}
                {% set first = false %}
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="customers">
    <div class="container">
        <h2>Nos <strong>clients</strong> nous aiment </h2>
        {% set first = true %}
        {% for quote in app.quotes %}
            {% set client = foreign(app.clients, quote.client_id) %}
            <a href="{{client.url}}" class="{% if first %}active{% endif %} customer">
                <span class="arrow"></span>
                <img src="{{client.logo}}" />
            </a>
            {% if first %}
                {% set first = false %}
            {% endif %}
        {% endfor %}
    </div>
</div>