<div class="navbar navbar-fixed-top">
    {% include 'includes/alerts.html.twig' %}
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{path('index')}}"><img src="{{ asset('img/logo.png') }}"></a>
            <a href="{{ path('plans') }}" class="btn btn-large btn-success" id="call-to-action-plans">{{ 'try_now' | trans }}</a>
            <p id="nav-phone"><i class="icon-phone"></i> {{ app['phone_number'] }}</p>

            <div class="nav-collapse">
                <div class="btn-group" data-toggle="buttons-checkbox">

                    <div class="btn-group" id="switch_country_group">
                      <a class="btn dropdown-toggle" id="switch_country" data-toggle="dropdown" href="#">
                        <i class="icon-flag-{{ app['country'] }}"></i>
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li {% if app.silexcms_locale == 'en' %}class="hidden"{% endif %}>
                          <a href="{{ switch_path(app, 'en') }}"><i class="icon-flag-en"></i></a>
                        </li>
                        <li {% if app.silexcms_locale == 'fr' %}class="hidden"{% endif %}>
                          <a href="{{ switch_path(app, 'fr') }}"><i class="icon-flag-fr"></i></a>
                        </li>
                        <li {% if app.silexcms_locale == 'de' %}class="hidden"{% endif %}>
                          <a href="{{ switch_path(app, 'de') }}"><i class="icon-flag-de"></i></a>
                        </li>
                        <li {% if app.silexcms_locale == 'es' %}class="hidden"{% endif %}>
                          <a href="{{ switch_path(app, 'es') }}"><i class="icon-flag-es"></i></a>
                        </li>
                        <li {% if app.silexcms_locale == 'ch' %}class="hidden"{% endif %}>
                          <a href="{{ switch_path(app, 'fr') }}"><i class="icon-flag-ch"></i></a>
                        </li>
                      </ul>
                    </div>

                </div>
                <ul class="nav">
                    <li><a href="{{ path('features', {'slug': app.filters[1].slug}) }}">    {{ 'features' | trans }}        </a></li>
                    <li><a href="{{ path('cases') }}">                                      {{ 'cases_studies' | trans }}   </a></li>
                    <li><a href="{{ path('clients') }}">                                    {{ 'clients' | trans }}         </a></li>
                    <li><a href="{{ path('about') }}">                                      {{ 'about' | trans }}           </a></li>
                    <li><a href="{{ path('contact') }}">                                    {{ 'contact' | trans }}         </a></li>
                    {% if app.security.getUsername is not none %}
                        <li><a href="{{ path('administration_hub') }}">Admin</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>