{% extends 'layout.html.twig' %}

{% block page_css %}
    <link rel="stylesheet" href="../less/about.css">
{% endblock %}

{% block page_scripts %}
    <script src="../js/jquery.scrollTo-1.4.2-min.js" type="text/javascript" charset="utf-8" async></script>
    <script src="../js/jquery.movingGrid2.js" type="text/javascript" charset="utf-8" async></script>
    <script src="../js/sticky-nav.js" type="text/javascript" charset="utf-8" async></script>
    <script src="../js/about.js" type="text/javascript" charset="utf-8" async></script>
    <script type='text/javascript'>
        (function(d, s, c) {
          if (window._jobscore_loader) { return; } else { window._jobscore_loader = true; }
          var o = d.createElement(s); o.type = 'text/javascript'; o.async = true;
          var sc = d.getElementsByTagName(s)[0]; sc.parentNode.insertBefore(o, sc);
          o.src = ('https:' == d.location.protocol ? 'https:' : 'http:') + '//www.jobscore.com/jobs/' + c + '/widget.js';
        })(document, 'script', 'balloon');
    </script>
{% endblock %}

{% block bootstrap_modules %}
    <script src="../vendor/Bootstrap/js/bootstrap-tooltip.js" type="text/javascript" charset="utf-8" async></script>
    <script src="../vendor/Bootstrap/js/bootstrap-carousel.js" type="text/javascript" charset="utf-8" async></script>
    <script src="../vendor/Bootstrap/js/bootstrap-transition.js" type="text/javascript" charset="utf-8" async></script>
{% endblock %}

{# SilexCMS: datasets includes #}
{% block filters %}{% endblock %}
{% block history %}{% endblock %}
{% block team %}{% endblock %}
{% block job_categories %}{% endblock %}
{% block press %}{% endblock %}
{# SilexCMS: end of datasets includes #}

{% block content %}
    <header class="main-header container">
        <h1><small>À propos </small> Un peu plus sur nous</h1>
    </header>
    <div class="container">
        <div class="bread-crumb">
            <div class="catcher">
                <a class="catcher" href="features/{{app.filters[0].slug}}">Voulez-vous voir nos fonctionnalités ?</a>
            </div>
            <a href="/">Accueil</a> > À propos
        </div>
        <div class="row content-wrapper">

            {# Scroll Navigation #}
            <ul class="nav unstyled context-menu">
                <li class="active">
                    <a href="#about-history"    title="Historique"     class="about-history"   rel="tooltip"   data-original-title="Historique">  Historique     </a>
                </li>
                <li>
                    <a href="#about-team"       title="Equipe"        class="about-team"      rel="tooltip"   data-original-title="Equipe">     Equipe          </a>
                </li>
                <li>
                    <a href="#about-press"      title="Presse"       class="about-press"     rel="tooltip"   data-original-title="Presse">    Presse          </a>
                </li>
                <li>
                    <a href="#about-jobs"         title="Emplois"        class="about-jobs"      rel="tooltip"   data-original-title="Emplois">     Emplois          </a>
                </li>
            </ul>

            {# Here comes the content #}
            <div class="main-content has-nav">
                <div class="about-item" id="about-history">
                    <h2>L'histoire</h2>
                    <p class="intro">
                        La véritable histoire de Wisembly...
                        {% include 'includes/about-history-slider.html.twig' %}
                    </p>
                </div>
                <div class="about-item" id="about-team">
                    <h2>Découvrez l'équipe</h2>
                    <div class="intro">
                        Voici notre équipe. Bienvenue chez Wisembly!
                        <div id="about-team-filters">
                            <a href="#" class="about-team-filter" id="reset-about-team-filter">
                                <span class="label label-inverse">Tous</span>
                            </a>
                            {% for job in app.job_categories %}
                                <a href="job-{{job.id}}" class="about-team-filter hollow">
                                    <span class="label {{job.label_class}}">
                                        <i class="{{job.icon}}"></i> {{job.name}}
                                    </span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    {% include 'includes/about-team.html.twig' %}
                </div>
                <div class="about-item" id="about-press">
                    <h2>Revues de presses</h2>
                    <p class="intro">
                        On parle de nous...
                    </p>
                    <div class="row-fluid">
                        <table class="table span9">
                            <tbody>
                                {% for article in app.press %}
                                    <tr>
                                        <td class="press-logo"><img src="{{article.logo}}" alt="{{article.title}}"/></td>
                                        <td class="press-date"><span class="label">{{article.date}}</span></td>
                                        <th class="press-title">{{article.title}}</th>
                                        <td class="press-link">
                                            <a href="{{article.link}}" target="_blank" title="{{article.title}}" class="btn btn-small btn-info">
                                                <i class="icon-link"></i>
                                                Lire la suite
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="span3">
                            <div class="hero-unit">
                                <h3>Kit de Presse</h3>
                                <p>Télécharger notre kit de presse pour parler de notre superbe aventure.</p>
                            </div>
                            <div class="btn-group">
                                    <a href="#" title="EN" class="btn btn-inverse"><i class="icon-download-alt"></i> Télécharger EN</a>
                                    <a href="#" title="FR" class="btn btn-inverse"><i class="icon-download-alt"></i> Télécharger FR</a>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="about-item" id="about-jobs">
                    <h2>Opportunité d'emplois</h2>
                    <p class="intro">
                        Nous recrutons. Nous vous attendons !
                    </p>
                    <img src="http://balloonup.com/fr/images/galerie/job.jpg" style="float:right">
                    <div class='jobscore-jobs' data-group-by='department' >
                        <div class='js-fallback' style='color:#888'><a style='color:#888;text-decoration:underline;' href='http://www.jobscore.com/jobs/balloon'>Emplois Wisembly </a> par <a style='color:#888' href='http://www.jobscore.com'><img style='padding:0;' align='bottom' src='//www.jobscore.com/images/new/jobscore_logo_embed.png' alt='Applicant Tracking, Social Recruiting and Software Hiring Solution - JobScore'></a></div>
                        </div><!-- /jobscore-jobs -->
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
