{% extends 'layout.html.twig' %}

{% block page_css %}
    <link rel="stylesheet" href="../less/administration_hub.css">
{% endblock %}

{% block filters %}{% endblock %}

{% block content %}

    <header class="main-header container">
        <h1><small>Manage your website</small> Administration Hub</h1>
    </header>

    <div class="container">
        <div class="bread-crumb">
            <a class="catcher btn btn-small" href="{{path('logout')}}">Logout</a>
            <a href="/">Home</a> > Administration Hub
        </div>
        <div class="row content-wrapper">
            <div class="main-content contact">
                <div class="row">
                    <div class="span12">
                        <h3>Here is what you can manage : </h3>
                        <ul class="unstyled">
                            <li>
                                <strong>Cases</strong>
                                <a href="{{ path('administration', {table : 'cases'}) }}"   title="Cases studies" class="btn btn-primary">  Let's go    </a>
                            </li>
                            <li>
                                <strong>Cases categories</strong>
                                <a href="{{ path('administration', {table : 'cases_categories'}) }}"   title="Cases studies categories" class="btn btn-primary">  Let's go    </a>
                            </li>
                        	<li>
                                <strong>Clients</strong>
                                <a href="{{ path('administration', {table : 'clients'}) }}"     title="Clients" class="btn btn-primary">    Let's go    </a>
                            </li>
                           <li>
                                <strong>Filters</strong>
                                <a href="{{ path('administration', {table : 'filters'}) }}"     title="Filters" class="btn btn-primary">    Let's go    </a>
                            </li> <li>
                                <strong>Families</strong>
                                <a href="{{ path('administration', {table : 'family'}) }}"     title="Families" class="btn btn-primary">    Let's go    </a>
                            </li>
                            <li>
                                <strong>Features</strong>
                                <a href="{{ path('administration', {table : 'features'}) }}"     title="Features" class="btn btn-primary">    Let's go    </a>
                            </li>
                            <li>
                                <strong>Job categories</strong>
                                <a href="{{ path('administration', {table : 'job_categories'}) }}"     title="Job categories" class="btn btn-primary">    Let's go    </a>
                            </li>
                            <li>
                                <strong>Team</strong>
                                <a href="{{ path('administration', {table : 'team'}) }}"     title="Team" class="btn btn-primary">    Let's go    </a>
                            </li>
                            <li>
                                <strong>Features</strong>
                                <a href="{{ path('administration', {table : 'history'}) }}"     title="History" class="btn btn-primary">    Let's go    </a>
                            </li>
                            <li>
                                <strong>Press</strong>
                                <a href="{{ path('administration', {table : 'press'}) }}"     title="History" class="btn btn-primary">    Let's go    </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}