{% extends 'layout.html.twig' %}

{% block page_css %}
    <link rel="stylesheet" href="../less/cases.css">
{% endblock %}

{% block page_scripts %}
    <script src="../js/case-studies.js" type="text/javascript" charset="utf-8" async></script>
{% endblock %}


{# SilexCMS: datasets includes #}
{% block filters %}{% endblock %}
{% block cases_featured %}{% endblock %}
{% block cases_categories %}{% endblock %}
{% block clients_featured %}{% endblock %}
{# SilexCMS: end of datasets includes #}


{% block content %}
    <header class="main-header container">
        <h1><small>Nos clients sont fiers de nous</small> Etudes de cas</h1>
    </header>
    <div class="container">
        <div class="bread-crumb">
            <a class="catcher" href="plans">Intéréssé ? Venez voir nos Plans et Pricing !</a>
            <a href="/">Accueil</a> > Etudes de cas
        </div>
        <div class="row content-wrapper">
            <div class="main-content case-studies">

                <h2>Vous trouverez ici quelques étude de cas sur la manière dont certain de nos clients ont utilisé notre solution.</h2>

                <p class="intro">
                    Comment utiliser notre solution ?
<br/>Vous trouverez sur cette page quelques exemples détaillés de réunions, de workshops ou de conférences organisés par nos clients.

                </p>

                <!-- Featured case study -->
                <div class="featured-case-study">
                    <div class="row-fluid">
                        <div class="span3">
                            <img src="/img/{{app.cases_featured[0].client_logo|raw}}" alt="{{app.cases_featured[0].client_name|raw}}">
                            <br><br>
                            <a href="{{app.cases_featured[0].client_url|raw}}" target="_blank" title="See the website">{{app.cases_featured[0].client_url|raw}}</a>
                        </div>
                        <div class="span9">
                            <div class="featured-case-study-title">
                                <h3>{{ app.cases_featured[0].title|raw }}</h3>
                                <span class="label label-inverse">Featured</span>
                            </div>
                            {{ app.cases_featured[0].intro|raw }}
                        </div>
                    </div>
                    <div class="row-fluid"><hr></div>
                    <div class="row-fluid">
                        <div class="span2 featured-case-study-facts">
                            <h4>Chiffres clés</h4>
                            <h5>Chiffres clés</h5>
                            {{app.cases_featured[0].key_figures|raw}}
                        </div>
                        <!-- Case study -->
                        <div class="span6 featured-case-study-solution">
                            <h4>Solution</h4>
                            <div class="thumbnail">
                                {{app.cases_featured[0].short_desc|raw}}
                            </div>
                        </div>
                        <!-- End of case study -->
                        <!-- Featured quote -->
                        <div class="span4 featured-quote">
                            <h4>Ce qu'ils en disent</h4>
                            <div class="signin-quote">
                                <div class="signin-quote-author">
                                    <img src="{{app.cases_featured[0].quote_author_pic|raw}}">
                                    <div class="signin-quote-author-info">
                                        <strong>{{app.cases_featured[0].quote_author_name|raw}}</strong>
                                        - {{app.cases_featured[0].quote_author_occupation|raw}} -
                                        <a href="{{app.cases_featured[0].quote_author_url|raw}}" target="_blank">
                                            {{app.cases_featured[0].quote_author_company|raw}}
                                        </a>
                                    </div>
                                </div>
                                <p class="signin-quote-text">
                                    <span class="signin-quote-arrow"></span>
                                    {{app.cases_featured[0].quote_text|raw}}
                                </p>
                            </div>
                        </div>
                        <!-- End of featured quote -->
                    </div>
                </div>
                <!-- End of Featured case study -->

                <br><br><br>

                <div class="row-fluid">

                    <div class="span8">
                        <h2>Autres études de cas</h2>
                        <!-- Generic case studies -->
                        <div class="row-fluid generic-case-studies">
                            {% for category in app.cases_categories %}
                                <div class="span3">
                                <div class="generic-case-study">
                                    <div class="thumbnail">
                                        <div class="logo">
                                            <img src="{{category.image|raw}}">
                                        </div>
                                        <h5>
                                            <i class="{{category.icon}}"></i> {{category.name|raw}}
                                        </h5>
                                        <p>{{category.description|raw}}</p>
                                        <a href="cases/{{category.slug}}" title="{{category.name|raw}}" class="btn btn-small btn-info">Voir en détails</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- End of generic case studies -->
                    </div>
                    <!-- Customers logos -->
                    <div class="span4">
                        <h2>Nos clients</h2>
                        <ul class="unstyled other-customers">
                            {% for client in app.clients_featured %}
                                <li class="other-customer"><a href="{{client.url|raw}}" title="{{client.name|raw}}" target="_blank"><img src="{{client.logo|raw}}" alt="{{client.name|raw}}"> </a></li>
                            {% endfor %}
                        </ul>
                        <a href="clients" title="Clients" class="btn btn-inverse btn-mini">Voir plus</a>
                    </div>
                    <!-- End of customers logos -->
                </div>

            </div>
        </div>
    </div>
{% endblock %}


