{% extends 'layout.html.twig' %}

{% block page_css %}
    <link rel="stylesheet" href="../less/cases.css">
{% endblock %}

{% block page_scripts %}
    <script src="../js/case-studies.js" type="text/javascript" charset="utf-8" async></script>
{% endblock %}

{# SilexCMS: datasets includes #}
{% block filters %}{% endblock %}
{% block alerts %}{% endblock %}
{% block cases_featured %}{% endblock %}
{% block cases_categories %}{% endblock %}
{% block clients_featured %}{% endblock %}
{# SilexCMS: end of datasets includes #}

{% block meta_cases %}{% endblock %}

{% block meta_title         app.meta_cases[0].title          %}
{% block meta_description   app.meta_cases[0].description    %}
{% block meta_keywords      app.meta_cases[0].keywords       %}

{% block content %}
    <header class="main-header container">
        <h1>{{ 'cases_head' | trans | raw }}</h1>
    </header>
    <div class="container">
        <div class="bread-crumb">
            <a class="catcher" href="{{ path('plans') }}">{{ 'cases_catcher' | trans }}</a>
            <a href="{{ path('index') }}">{{ 'home' | trans }}</a> > {{ 'cases_studies' | trans }}
        </div>
        <div class="row content-wrapper">
            <div class="main-content case-studies">
                <h2>{{ 'cases_block_title' | trans }}</h2>

                <p class="intro">{{ 'cases_block_intro' | trans | raw }}</p>

                <!-- Featured case study -->
                <div class="featured-case-study">
                    <div class="row-fluid">
                        <div class="span3">
                            <img src="{{app.cases_featured[0].client_logo|raw}}" alt="{{app.cases_featured[0].client_name|raw}}">
                            <br><br>
                            <a href="{{ app.cases_featured[0].client_url | raw }}" target="_blank" title="See the client website">{{ app.cases_featured[0].client_url | raw }}</a>
                        </div>
                        <div class="span9">
                            <div class="featured-case-study-title">
                                <h3>{{ app.cases_featured[0].title | raw }}</h3>
                                <span class="label label-inverse">{{ 'featured' | trans }}</span>
                            </div>
                            {{ app.cases_featured[0].intro | raw }}
                        </div>
                    </div>
                    <div class="row-fluid"><hr></div>
                    <div class="row-fluid">
                        <div class="span2 featured-case-study-facts">
                            <h4>{{ 'cases_key_figures' | trans }}</h4>
                            {{ app.cases_featured[0].key_figures | raw }}
                        </div>
                        <!-- Case study -->
                        <div class="{#solutionSpan#} span6 featured-case-study-solution">
                            <h4>{{ 'cases_solution' | trans }}</h4>
                            {{ app.cases_featured[0].short_desc | raw }}
                        </div>
                        <!-- End of case study -->
                        <!-- Featured quote -->
                        <div class="span4 featured-quote">
                            <h4>{{ 'cases_what_they_told' | trans }}</h4>
                            <div class="signin-quote">
                                <div class="signin-quote-author">
                                    <img src="{{app.cases_featured[0].quote_author_pic|raw}}">
                                    <div class="signin-quote-author-info">
                                        <strong>{{app.cases_featured[0].quote_author_name|raw}}</strong><br>
                                        {{app.cases_featured[0].quote_author_occupation|raw}} -
                                        <a href="{{app.cases_featured[0].quote_author_url|raw}}" target="_blank">
                                            {{app.cases_featured[0].quote_author_company|raw}}
                                        </a>
                                    </div>
                                </div>
                                <p class="signin-quote-text">
                                    <span class="signin-quote-arrow"></span>
                                    {{app.cases_featured[0].quote_text|raw}}
                                </p>
                            </div>
                        </div>
                        <!-- End of featured quote -->
                    </div>
                </div>
                <!-- End of Featured case study -->

                <hr>

                <div class="row-fluid">
                    <div class="span8">
                        <h2>{{ 'cases_other_cases_studies' | trans }}</h2>
                        <!-- Generic case studies -->
                        <div class="row-fluid generic-case-studies">
                            {% for category in app.cases_categories %}
                                <div class="span3">
                                    <div class="generic-case-study">
                                        <div class="logo">
                                            <img src="{{category.image|raw}}">
                                        </div>
                                        <h5>
                                            <i class="{{category.icon}}"></i> {{category.name|raw}}
                                        </h5>
                                        <p>{{category.description|raw}}</p>
                                        <a href="{{ path('cases_categories', {'slug': category.slug}) }}" title="{{category.name|raw}}" class="btn btn-small btn-info">Voir en détails</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- End of generic case studies -->
                    </div>
                    <!-- Customers logos -->
                    <div class="span4">
                        <h2>{{ 'cases_our_clients' | trans }}</h2>
                        <ul class="unstyled other-customers">
                            {% for client in app.clients_featured %}
                                <li class="other-customer">
                                    <a href="{{client.url|raw}}" title="{{client.name|raw}}" target="_blank" class="img-container">
                                        <img src="{{client.logo|raw}}" alt="{{client.name|raw}}">
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <a href="{{ path('clients') }}" title="Clients" class="btn btn-inverse btn-mini">{{ 'see_more' | trans }}</a>
                    </div>
                    <!-- End of customers logos -->
                </div>

            </div>
        </div>
    </div>
{% endblock %}
