{% extends 'layout.html.twig' %}

{% block page_css %}
    <link rel="stylesheet" href="../less/cases.css">
{% endblock %}

{% block page_scripts %}
    <script src="../js/case-studies.js" type="text/javascript" charset="utf-8" async></script>
{% endblock %}


{# SilexCMS: datasets includes #}
{% block filters %}{% endblock %}
{% block cases %}{% endblock %}
{% block cases_featured %}{% endblock %}
{% block clients %}{% endblock %}
{# SilexCMS: end of datasets includes #}


{% block content %}
    <header class="main-header container">
        <h1><small>Our customers are proud of us</small> Case studies</h1>
    </header>
    <div class="container">
        <div class="bread-crumb">
            <a class="catcher" href="plans">Interested ? Go see our Plans & Pricing ;)</a>
            <a href="/">Home</a> > Case studies
        </div>
        <div class="row content-wrapper">
            <div class="main-content case-studies">

                <h2>Vous trouverez ici quelques étude de cas sur la manière dont certain de nos clients ont utilisé nos solutions.</h2>

                <p class="intro">
                    Texte d'introduction super cool
                </p>

                <!-- Featured case study -->
                <div class="featured-case-study">
                    <a href="cases/{{app.cases_featured[0].slug}}" title="Découvrir la solution" class="call-to-action">Découvrir la solution</a>
                    <div class="featured-case-study-title">
                        <h3>{{ app.cases_featured[0].title|raw }}</h3>
                        <span class="label label-inverse">Featured</span>
                    </div>
                    {{ app.cases_featured[0].intro|raw }}
                    <div class="row"><hr></div>
                    <div class="row">
                        <div class="span2 featured-case-study-facts">
                            <h4>Client</h4>
                            <img src="/img/{{app.cases_featured[0].client_logo|raw}}" alt="{{app.cases_featured[0].client_name|raw}}">
                            <a href="{{app.cases_featured[0].client_url|raw}}" target="_blank" title="See the website">{{app.cases_featured[0].client_url|raw}}</a>
                            <h5>Key figures</h5>
                            {{app.cases_featured[0].key_figures|raw}}
                        </div>
                        <!-- Case study -->
                        <div class="span6 featured-case-study-solution">
                            <h4>Solution</h4>
                            <div class="thumbnail">
                                {{app.cases_featured[0].short_desc|raw}}
                            </div>
                        </div>
                        <!-- End of case study -->
                        <!-- Featured quote -->
                        <div class="span4 featured-quote">
                            <h4>Ce qu'ils en disent</h4>
                            <div class="signin-quote">
                                <div class="signin-quote-author">
                                    <img src="/img/{{app.cases_featured[0].quote_author_pic|raw}}">
                                    <div class="signin-quote-author-info">
                                        <strong>{{app.cases_featured[0].quote_author_name|raw}}</strong>
                                        - {{app.cases_featured[0].quote_author_occupation|raw}} -
                                        <a href="{{app.cases_featured[0].quote_author_url|raw}}" target="_blank">
                                            {{app.cases_featured[0].quote_author_company|raw}}
                                        </a>
                                    </div>
                                </div>
                                <p class="signin-quote-text">
                                    <span class="signin-quote-arrow"></span>
                                    {{app.cases_featured[0].quote_text|raw}}
                                </p>
                            </div>
                        </div>
                        <!-- End of featured quote -->
                    </div>
                </div>
                <!-- End of Featured case study -->

                <br><br><br>

                <div class="row">

                    <div class="span8">
                        <h2>Autres études de cas</h2>
                        <!-- Generic case studies -->
                        <div class="row generic-case-studies">
                            {% for case in app.cases %}
                                <div class="span2">
                                <div class="generic-case-study">
                                    <div class="thumbnail">
                                        <div class="logo">
                                            <img src="/img/{{case.client_logo|raw}}">
                                        </div>
                                        <p>{{case.category|raw}}</p>
                                        <a href="cases/{{case.slug}}" title="{{case.title|raw}}" class="btn btn-small btn-info">Voir en détails</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- End of generic case studies -->
                    </div>
                    <!-- Customers logos -->
                    <div class="span4">
                        <h2>Nos clients</h2>
                        <ul class="unstyled other-customers">
                            {% for client in app.clients %}
                                <li class="other-customer"><a href="{{client.url|raw}}" title="{{client.name|raw}}" target="_blank"><img src="{{client.logo|raw}}" alt="{{client.name|raw}}"> </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- End of customers logos -->
                </div>

            </div>
        </div>
    </div>
{% endblock %}


