{% extends 'layout.html.twig' %}

{% block page_css %}
    <link rel="stylesheet" href="../less/clients.css">
{% endblock %}

{% block page_scripts %}
    <script src="../js/clients.js" type="text/javascript" charset="utf-8" async></script>
{% endblock %}

{% block bootstrap_modules %}
    <script src="../vendor/Bootstrap/js/bootstrap-tooltip.js" type="text/javascript" charset="utf-8" async></script>
{% endblock %}

{# SilexCMS: datasets includes #}
{% block clients %}{% endblock %}
{% block clients_categories %}{% endblock %}
{% block filters %}{% endblock %}
{# SilexCMS: end of datasets includes #}

{% block content %}
    <header class="main-header container">
        <h1><small>Nos clients sont fiers de nous</small> Nos clients</h1>
    </header>
    <div class="container">
        <div class="bread-crumb">
            <a class="catcher" href="cases">Voir plus d'études de cas</a>
            <a href="/">Accueil</a> > Clients
        </div>
        <div class="row content-wrapper">
            <div class="main-content clients">
                <h2>Découvrez les!</h2>
                <p class="intro">
                    Wisembly s'ouvre aux grandes entreprises mais aussi aux start-up et PME françaises pour compter aujourd'hui plus de 150 clients avec qui nous sommes heureux de travailler régulièrement.
                </p>
                {% for client_category in app.clients_categories %}
                    <h3>{{ client_category.name }}</h3>
                    {% set counter = 0 %}
                    <ul class="unstyled">
                        {% for client in app.clients %}
                            {% if client.client_category_id == client_category.id %}
                            {% set counter = counter + 1 %}
                            <li>
                                <a href="{{client.url}}" target="_blank" rel="tooltip" data-original-title="{{client.name}}" class="img-container">
                                    <img src="{{client.logo}}" alt="{{client.name}}">
                                </a>
                            </li>
                            {% if counter%8 == 0 %}
                                {% set counter = 0 %}
                                </ul><ul class="unstyled">
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
