{% extends 'layout.html.twig' %}

{% block page_css %}
    <link rel="stylesheet" href="../less/features.css">
{% endblock %}

{% block page_scripts %}
    <script src="../js/features.js" type="text/javascript" charset="utf-8" async></script>
    <script src="../js/sticky-nav-features.js" type="text/javascript" charset="utf-8" async></script>
{% endblock %}


{% block bootstrap_modules %}
    <script src="../vendor/Bootstrap/js/bootstrap-tooltip.js"      type="text/javascript" charset="utf-8" async ></script>
{% endblock %}

{# SilexCMS: datasets includes #}
{% block filters %}{% endblock %}
{% block family %}{% endblock %}
{% block features %}{% endblock %}
{# SilexCMS: end of datasets includes #}

{% set current_filter = app.set %}

{% block content %}
    <header class="main-header container">
        <h1><small>Fonctionnalités </small> {{ current_filter.name }}</h1>
    </header>
    <div class="container">
        <div class="bread-crumb">
            <div class="catcher">
                <a class="catcher" href="cases">Vous voulez en savoir plus sur Wisembly?</a>
            </div>
            <a href="/">Accueil</a> > Fonctionnalités > {{ current_filter.name }}
        </div>
        <div id="choice-wrapper">
            <div data-toggle="buttons-checkbox">
                {% for filter in app.filters %}
                    <a href="features/{{ filter.slug }}" class="btn btn-choice {% if current_filter.id == filter.id %}active{% endif %}">
                        <i class="{{ filter.icon }}"></i>
                        {{ filter.name }}
                        <em>{{ filter.tagline }}</em>
                    </a>
                {% endfor %}
            </div>
        </div>
        <hr>
        <div class="row content-wrapper">

            {# Scroll Navigation #}
            <ul class="nav unstyled context-menu">
                {% set first = true %}
                {% for family in app.family %}
                    {% if current_filter.id == family.filter_id %}
                        <li {% if first %}class="active"{% endif %}>
                            <a href="#family-{{ family.id }}" title="{{ family.name }}" class="ttip family-{{ family.id }}" rel="tooltip" data-original-title="{{family.name}}">
                                <i class="{{family.icon}}"></i>
                            </a>
                        </li>
                        {% set first = false %}
                    {% endif %}
                {% endfor %}
            </ul>

            {# Here comes the content #}
            <div class="main-content has-nav">

                {% for family in app.family %}
                    {% if current_filter.id == family.filter_id %}
                        <div id="family-{{ family.id }}">
                            <h2>
                                <i class="{{family.icon}}"></i> {{ family.name }}</h2>
                            <p class="intro">
                                {{ family.text }}
                            </p>
                            {% for feature in app.features %}
                                {% if feature.family_id == family.id %}
                                    <div class="feature {{ feature.class }}">
                                        <h3>{{ feature.name }}</h3>
                                        <img src="{{ feature.picture }}">
                                        <p>{{ feature.text|raw }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="cta-divider">
                                <a class="call-to-action" href="#">Testez Wisembly</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
    </div>
{% endblock %}


