{% extends 'layout.html.twig' %}

{% block page_css %}
    <link rel="stylesheet" href="../less/features.css">
{% endblock %}

{% block page_scripts %}
    <script src="../js/features.js" type="text/javascript" charset="utf-8" async></script>
    <script src="../js/sticky-nav-features.js" type="text/javascript" charset="utf-8" async></script>
{% endblock %}


{# SilexCMS: datasets includes #}
{% block filters %}{% endblock %}
{% block family %}{% endblock %}
{% block features %}{% endblock %}
{# SilexCMS: end of datasets includes #}

{% set current_filter = app.set[0] %}

{% block content %}
    <header class="main-header container">
        <h1><small>Features </small> {{ current_filter.name }}</h1>
    </header>
    <div class="container">
        <div class="bread-crumb">
            <div class="catcher">
                <a class="catcher" href="cases">Want to know more about us ?</a>
            </div>
            <a href="/">Home</a> > Features > {{ current_filter.name }}
        </div>
        <div class="row content-wrapper">

            {# Make your choice ! #}
            <div id="choice-wrapper">
                <div class="btn-group" data-toggle="buttons-checkbox">
                    {% for filter in app.filters %}
                        <a href="features/{{ filter.slug }}" class="btn btn-info {% if current_filter.id == filter.id %}active{% endif %}">
                            <i class="{{ filter.icon }}"></i>
                            {{ filter.name }}
                            <em>{{ filter.tagline }}</em>
                        </a>
                    {% endfor %}
                </div>
            </div>

            {# Scroll Navigation #}
            <ul class="nav unstyled context-menu">
                {% set first = true %}
                {% for family in app.family %}
                    {% if current_filter.id == family.filter_id %}
                        <li {% if first %}class="active"{% endif %}>
                            <a href="#family-{{ family.id }}" title="{{ family.name }}" class="family-{{ family.id }}">...</a>
                        </li>
                        {% set first = false %}
                    {% endif %}
                {% endfor %}
            </ul>

            {# Here comes the content #}
            <div class="main-content has-nav">

                {% for family in app.family %}
                    {% if current_filter.id == family.filter_id %}
                        <div id="family-{{ family.id }}">
                            <h2>{{ family.name }}</h2>
                            <p class="intro">
                                {{ family.text }}
                            </p>
                            {% for feature in app.features %}
                                {% if feature.family_id == family.id %}
                                    <div class="feature">
                                        <img src="../img/{{ feature.picture }}" class="img-right">
                                        <h3>{{ feature.name }}</h3>
                                        <p>{{ feature.text|raw }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="cta-divider">
                                <a class="call-to-action" href="#">Create your event now</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            {#


               <div id="features-1">
                    <h2>Des séances de Questions / réponses d’un nouveau genre</h2>
                    <p class="intro">
                        Tout le monde peut poser une question facilement et au moment où il en a envie. Plus besoin de faire passer des micros en salle pour espérer tomber sur la bonne question...
                    </p>
                    <img src="../img/img-1.png" class="img-right">
                    <h3>Tout le public peut participer</h3>
                    <p>
                        Toutes les personnes de votre public possèdent un téléphone portable. Notre solution vous permet de les faire participer rapidement et simplement depuis leur mobile. Que ce soit par SMS, Web, Email ou encore Twitter, les participants peuvent à tout moment poser des questions ou commenter sans perturber la conférence.
                    </p>
                    <div class="cta-divider">
                        <a class="call-to-action" href="#">Create your event now</a>
                    </div>
                </div>
               <div id="features-2">
                    <h2>Des séances de Questions / réponses d’un nouveau genre</h2>
                    <p class="intro">
                        Tout le monde peut poser une question facilement et au moment où il en a envie. Plus besoin de faire passer des micros en salle pour espérer tomber sur la bonne question...
                    </p>
                        <img src="../img/img-1.png" class="img-right">
                    <h3>Tout le public peut participer</h3>
                    <p>
                        Toutes les personnes de votre public possèdent un téléphone portable. Notre solution vous permet de les faire participer rapidement et simplement depuis leur mobile. Que ce soit par SMS, Web, Email ou encore Twitter, les participants peuvent à tout moment poser des questions ou commenter sans perturber la conférence.
                    </p>
                    <div class="cta-divider">
                        <a class="call-to-action" href="#">Create your event now</a>
                    </div>
                </div>
               <div id="features-3">
                    <h2>Des séances de Questions / réponses d’un nouveau genre</h2>
                    <p class="intro">
                        Tout le monde peut poser une question facilement et au moment où il en a envie. Plus besoin de faire passer des micros en salle pour espérer tomber sur la bonne question...
                    </p>
                        <img src="../img/img-1.png" class="img-right">
                    <h3>Tout le public peut participer</h3>
                    <p>
                        Toutes les personnes de votre public possèdent un téléphone portable. Notre solution vous permet de les faire participer rapidement et simplement depuis leur mobile. Que ce soit par SMS, Web, Email ou encore Twitter, les participants peuvent à tout moment poser des questions ou commenter sans perturber la conférence.
                    </p>
                    <div class="cta-divider">
                        <a class="call-to-action" href="#">Create your event now</a>
                    </div>
                </div>
            #}
            </div>
        </div>
        
    </div>
{% endblock %}


