{% extends 'layout.html.twig' %}

{% block page_css %}
    <link rel="stylesheet" href="../less/features.css">
{% endblock %}

{% block page_scripts %}
    <script src="../js/features.js" type="text/javascript" charset="utf-8" async></script>
    <script src="../js/sticky-nav-features.js" type="text/javascript" charset="utf-8" async></script>
{% endblock %}

{# SilexCMS: datasets includes #}
{% block filters %}{% endblock %}
{% block alerts %}{% endblock %}
{% block family %}{% endblock %}
{% block features %}{% endblock %}
{# SilexCMS: end of datasets includes #}

{% block meta_features %}{% endblock %}

{% block meta_title         app.meta_features[0].title          %}
{% block meta_description   app.meta_features[0].description    %}
{% block meta_keywords      app.meta_features[0].keywords       %}

{% set current_filter = app.set %}

{% block content %}
    <header class="main-header container">
        <h1>{{ 'features_head' | trans({'%filter%': current_filter.name}) | raw }}</h1>
    </header>
    <div class="container">
        <div class="bread-crumb">
            <div class="catcher">
                <a class="catcher" href="{{ path('cases') }}">{{ 'features_catcher' | trans }}</a>
            </div>
            <a href="{{ path('index') }}">{{ 'home' | trans }}</a> > {{ 'features' | trans }} > {{ current_filter.name }}
        </div>
        <ul class="nav nav-tabs">
          {% for filter in app.filters|reverse %}
                <li {% if current_filter.id == filter.id %}class="active"{% endif %}>
                    <a href="{{ path('features', {'slug': filter.slug}) }}">
                        <i class="{{ filter.icon }}"></i>
                        <strong>{{ filter.name }}</strong><br>
                        <em>{{ filter.tagline }}</em>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="row content-wrapper">
            {# Scroll Navigation #}
            <ul class="nav unstyled context-menu">
                {% set first = true %}
                {% for family in app.family %}
                    {% if current_filter.id == family.filter_id %}
                        <li {% if first %}class="active"{% endif %}>
                            <a href="#family-{{ family.id }}" title="{{ family.name }}" class="ttip family-{{ family.id }}" rel="tooltip" data-original-title="{{family.name}}">
                                <i class="{{family.icon}}"></i>
                            </a>
                        </li>
                        {% set first = false %}
                    {% endif %}
                {% endfor %}
            </ul>

            {# Here comes the content #}
            <div class="main-content has-nav">

                {% for family in app.family %}
                    {% if current_filter.id == family.filter_id %}
                        <div id="family-{{ family.id }}">
                            <h2><i class="{{family.icon}}"></i> {{ family.name }}</h2>
                            <p class="intro">
                                {{ family.text }}
                            </p>
                            {% for feature in app.features %}
                                {% if feature.family_id == family.id %}
                                    <div class="feature {{ feature.class }}">
                                        <h3>{{ feature.name }}</h3>
                                        <img src="{{ feature.picture }}">
                                        <p>{{ feature.text|raw }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="cta-divider">
                                <a class="call-to-action" href="{{ path('plans') }}">{{ 'test_wisembly' | trans }}</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
