{% extends 'layout.html.twig' %}

{% block page_css %}
    <link rel="stylesheet" href="../less/plans.css">
{% endblock %}

{% block page_scripts %}
    <script src="../js/plans.js" type="text/javascript" charset="utf-8" async></script>
{% endblock %}

{% block bootstrap_modules %}
    <script src="../vendor/Bootstrap/js/bootstrap-tooltip.js" type="text/javascript" charset="utf-8" async></script>
{% endblock %}

{% block filters %}{% endblock %}

{% block content %}
    <header class="main-header container">
        <h1>{{ 'plans_head' | trans | raw }}</h1>
    </header>
    <div class="container">
        <div class="bread-crumb">
            <a class="catcher" href="{{ path('cases') }}">{{ 'plans_catcher' | trans }}</a>
            <a href="{{ path('index') }}">{{ 'home' | trans }}</a> > {{ 'plans' | trans }}
        </div>
        <div class="row content-wrapper">
            <div class="main-content plans">
                <h2>{{ 'plans_block_title' | trans }}</h2>

                <p class="intro">
                    {{ 'plans_block_intro' | trans | raw }}
                </p>

                <!-- Basic plans -->
                <div class="basic-plans row-fluid">
                    <div class="span4">
                        <div class="plan plan-present">
                            <h3>
                                <span class="label label-warning plan-price">
                                    {{ 'plans_present_price' | trans | raw }}
                                </span>
                                {{ 'plans_present' | trans }}
                            </h3>
                            <div class="plan-content">
                                {{ 'plans_present_desc' | trans | raw }}
                            </div>
                            <a class="plan-create call-to-action" href="http://votrequestion.com/plan/present">
                                {{ 'plans_create' | trans }}
                            </a>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="plan plan-engage featured-plan">
                           <h3>
                               <span class="label label-warning plan-price">
                                   {{ 'plans_engage_price' | trans | raw }}
                               </span>
                               {{ 'plans_engage' | trans }}
                           </h3>
                           <div class="plan-content">
                               {{ 'plans_engage_desc' | trans | raw }}
                           </div>
                           <a class="plan-create call-to-action" href="http://votrequestion.com/plan/engage">
                               {{ 'plans_create' | trans }}
                           </a>
                       </div>
                    </div>
                    <div class="span4">
                        <div class="plan plan-interact">
                            <h3>
                                <span class="label label-warning plan-price">
                                    {{ 'plans_interact_price' | trans | raw }}
                                </span>
                                {{ 'plans_interact' | trans }}
                            </h3>
                            <div class="plan-content">
                                {{ 'plans_interact_desc' | trans | raw }}
                            </div>
                            <a class="plan-create call-to-action" href="http://votrequestion.com/plan/interact">{{ 'plans_create' | trans }}</a>
                        </div>
                    </div>
                </div>
                <!-- End of Basic plans -->

                <hr />

                <!-- Custom plans -->
                <div class="row">
                    <div class="span12">
                        <div class="custom-plans">
                            <a href="{{ path('contact') }}" class="btn btn-success float-right">{{ 'plans_contact_us' | trans }}</a>
                            <h3>
                                <span class="small">{{ 'plans_want_custom' | trans | raw }}</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- End of Custom plans -->

                <!-- Features Table -->
                    <table class="table list-plans-compare">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{ 'plans_present' | trans }}</th>
                                <th>{{ 'plans_engage' | trans }}</th>
                                <th>{{ 'plans_interact' | trans }}</th>
                                <th>{{ 'plans_custom' | trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    {{ 'plans_questions_audience' | trans }}
                                    <a href="#" rel="tooltip" data-original-title="{{ 'plans_questions_audience_info' | trans }}" class="btn btn-info btn-mini">?</a>
                                </th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td rowspan="13" class="list-plans-compare-ondemand">{{ 'plans_on_demand' | trans }}</td>
                            </tr>
                            <tr>
                                <th>
                                    <small>{{ 'twitter' | trans }}</small>
                                </th>
                                <td><i class="icon-ok"></i></td>
                                <td><i class="icon-ok"></i></td>
                                <td><i class="icon-ok"></i></td>
                            </tr>
                            <tr>
                                <th>
                                    <small>{{ 'web' | trans }}</small>
                                </th>
                                <td><i class="icon-ok"></i></td>
                                <td><i class="icon-ok"></i></td>
                                <td><i class="icon-ok"></i></td>
                            </tr>
                            <tr>
                                <th>
                                    <small>{{ 'sms' | trans }}</small>
                                </th>
                                <td></td>
                                <td><i class="icon-ok"></i></td>
                                <td><i class="icon-ok"></i></td>
                            </tr>
                            <tr>
                                <th>
                                    <small>{{ 'email' | trans }}</small>
                                </th>
                                <td></td>
                                <td></td>
                                <td><i class="icon-ok"></i></td>
                            </tr>
                            <tr>
                                <th>
                                    <small>{{ 'widget' | trans }}</small>
                                </th>
                                <td></td>
                                <td></td>
                                <td><i class="icon-ok"></i></td>
                            </tr>
                            <tr>
                                <th>
                                    {{ 'plans_display_moderation' | trans }}
                                    <a href="#" rel="tooltip" data-original-title="{{ 'plans_display_moderation_info' |trans }}" class="btn btn-info btn-mini">?</a>
                                </th>
                                <td><i class="icon-ok"></i></td>
                                <td><i class="icon-ok"></i></td>
                                <td><i class="icon-ok"></i></td>
                            </tr>
                            <tr>
                                <th>
                                    {{ 'plans_exports_analyse' | trans }}
                                    <a href="#" rel="tooltip" data-original-title="{{ 'When the event is over, you wll be able to export the questions, and to get detailled statistics on involve rate, trending topics, and so on...'|trans }}" class="btn btn-info btn-mini">?</a>
                                </th>
                                <td></td>
                                <td><i class="icon-ok"></i></td>
                                <td><i class="icon-ok"></i></td>
                            </tr>
                            <tr>
                                <th>
                                    {{ 'plans_graphic_custom' | trans }}
                                    <a href="#" rel="tooltip" data-original-title="{{ 'Customize the appearence of the page to meet your events graphical identity (Logo, background colour or totally redesigned interface). You will be able to do it through a CSS model.'|trans }}" class="btn btn-info btn-mini">?</a>
                                </th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>
                                    <small>{{ 'plans_event_logo' | trans }}</small>
                                </th>
                                <td></td>
                                <td><i class="icon-ok"></i></td>
                                <td><i class="icon-ok"></i></td>
                            </tr>
                            <tr>
                                <th>
                                    <small>{{ 'plans_custom_css' | trans }}</small>
                                </th>
                                <td></td>
                                <td></td>
                                <td><i class="icon-ok"></i></td>
                            </tr>
                            <tr>
                                <th>
                                    {{ 'plans_features' | trans }}
                                    <a href="#" rel="tooltip" data-original-title="{{ 'Get your audience involved into quizz, surveys, or even satisfaction polls during your event.'|trans }}" class="btn btn-info btn-mini">?</a>
                                </th>
                                <td></td>
                                <td></td>
                                <td><i class="icon-ok"></i></td>
                            </tr>
                            <tr>
                                <th>
                                    {{ 'plans_availability' | trans }}
                                    <a href="#" rel="tooltip" data-original-title="{{ 'Our service starts before your event ! Ask people to react on some topics, or ask them to answer a survey for example...'|trans }}" class="btn btn-info btn-mini">?</a>
                                </th>
                                <td>{{ '24H' | trans }}</td>
                                <td>{{ '72H' | trans }}</td>
                                <td>{{ 'plans_2_weeks' | trans }}</td>
                            </tr>
                        </tbody>
                    </table>
                <!-- End of Features Table -->
            </div>
        </div>
    </div>
{% endblock %}
